body{
    font-family: 'Open Sans';
    background-color: rgba(245, 245, 245, 0.692);
}

h1, h2{
    font-family: 'Poppins';
}

h1{
    font-size: 1rem;
}

h2{
    font-size: 4rem;
    color: black;
}

span{
    color:blueviolet
}

.Projects{
    
    margin: 10px;
}

.Resume{
    
    margin: 10px;
}

.Me{
    
    margin: 10px;
}

.Awards{
    
    margin: 10px;
}

.Misc{
    
    margin: 10px;
}





li{
    list-style: none;
}
.header{
    display: inline-flex;
    gap: 5px;
}


.Box-Container{
    display: flex;
    justify-content: space-around;
}





@media (max-width: 1600px) {
    .Box-Container{
        display: inline-block;
    }
}

@media (max-width: 670px) {
    .Box-Container > .Projects{
        display: block;
        flex-shrink: 10;
    }
    .Box-Container > .Resume{
        display: block;
        flex-shrink: 10;
    }
    .Box-Container > .Me{
        display: block;
        flex-shrink: 10;
    }
}


.Misc > .contactText{
    
}

