.background{ 
    background-color: aqua;
}

.gradient-background-blue {
    background: linear-gradient(300deg, #8bbecf, #2934ce);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

.gradient-background-light-blue {
    background: linear-gradient(300deg, #000000, #0011ff);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}


.gradient-background-green {
    background: linear-gradient(300deg, #8bbecf, #0de09a);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
} 

.gradient-background-red {
    background: linear-gradient(300deg, #eedf0c, #ec0808);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
} 

.gradient-background-black {
    background: linear-gradient(300deg, #777771, #0c0b0b);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

.dark_mode_background {
    background-color: #426275
}

.light_mode_background {
    background-color: rgb(91, 165, 199);
}


#contactSecUL {
    color: rgb(25, 0, 255) !important;
}

#contactSecUL li {
    color: rgb(33, 14, 65) !important;
}

.errpy {
    color: rgb(119, 0, 255) !important;
}

.nerrpy {
    color: rgb(0, 0, 0) !important;
} 

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#img {
    border-radius: 50%;
}

#round {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
}
