body{
    font-family: 'Open Sans';
    background-color: rgba(245, 245, 245, 0.692);
}

h1, h2{
    font-family: 'Poppins';
}

h1{
    font-size: 1rem;
}

h2{
    font-size: 4rem;
    color: black;
}

span{
    color:blueviolet
}

.Projects{
    display: inline-block;
    margin: 10px;
}

.Resume{
    display: inline-block;
    margin: 10px;
}

.Me{
    display: inline-block;
    margin: 10px;
}

.Awards{
    display: inline-block;
    margin: 10px;
}

.Misc{
    display: inline-block;
    margin: 10px;
}





li{
    list-style: none;
}
.header{
    display: inline-flex;
    gap: 5px;
}


.Box-Container{
    display: flex;
    justify-content: space-around;
}
